/* Project CSS 
============================================================
============================================================*/


/* HEADER ============================== */

header, nav, section, footer, figure, figcaption {
    display: block;

}



header {
    width: 100%;
    height: auto;


    margin: auto;
    display: block;


}


header img {
    max-width: 100%;
    border: 1px solid #000000;



}
body{
    max-width: 100%;
    background-image: url("../images/bgwall.jpg");

}
#container {

    width: 80%;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: white;
    box-shadow: #ffffff;
}



/* ABOUT ============================== */

h1 {
    font-size: 2em;
    text-align: center;

}
.about{
    border: 1px solid #000000;
    border-radius: 200px 200px 200px 200px;
    margin: 10px auto;
    padding: 100px;



}
/* COMPONENTS ============================== */

h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    padding-top: 1%;
    padding-bottom: 1%;
}

.comp1{

    margin: 20px auto 20px auto;


}

.component2{

    margin: 20px auto 20px auto;


}
.component3{

    margin: 20px auto 20px auto;


}

.component4{

    margin: 20px auto 20px auto;

}
.component5{

    margin: 20px auto 20px auto;

}

/* Footer========================= */
footer {
    clear: both;
    color: #ffffff;
    background-color: grey;
    height: 40px;
    text-align: center;
    display: block;
    width: 79.8%;
    position: absolute;



}
