/* Component Stylesheet 
============================================================
============================================================*/


/
/* HEADER ============================== */

header, nav, section, footer, figure, figcaption {
    display: block;

}

nav  li  {
    line-height: 49px;
    color: #000000;
    padding: 0 10px 0 5px;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
    display:inline-block;



}

nav ul {
    padding-left: 5%;
    border: 1px solid;
    padding-top: 2%;
    margin-top: -1%;
}

header {
    width: 100%;
    height: auto;


    margin: auto;
    display: block;


}


header img {
    max-width: 100%;
    border: 1px solid #000000;



}
body{
    max-width: 100%;
    /*background-image: url("../images/bgwall.jpg");*/

    background-image: url('http://dl.glitter-graphics.net/pub/248/248901wm95evm9ym.gif');
    background-attachment: fixed;
    background-repeat: repeat;



}
#container {

    width: 80%;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: white;
    box-shadow: #ffffff;
}

section{
    display: block;
    background-color: gold;
    width: 90%;
    padding-left: 5px;
    padding-right:5px ;
    margin-left: auto;
    margin-right: auto;

}

/* ABOUT ============================== */

h1 {
    font-size: 2em;
    text-align: center;

}
.about{
    border: 1px solid #000000;
    border-radius: 200px 200px 200px 200px;
    margin: 10px auto;
    background-color: gold;
    padding: 100px;



}
/* COMPONENTS ============================== */

h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    padding-top: 1%;
    padding-bottom: 1%;
}
h3{
    font-weight: bold;
    font-size: 1em;
}
.comp1{

    margin: 20px auto 20px auto;


}

.component2{

    margin: 20px auto 20px auto;


}
.component3{

    margin: 20px auto 20px auto;


}

.component4{

    margin: 20px auto 20px auto;

}
.component5{

    margin: 20px auto 20px auto;

}

p {
    text-indent:10pt;

}

table tr:nth-child(even) {
    background-color: #eee;
}
table {
    border: 1px solid #000000;


}
#featured{
    border: 10px solid red;
    padding-left: 5px;
    padding-right:5px ;
}
button{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    background-color: red;
    margin-left: 57px;
}
/* Footer========================= */
footer {
    clear: both;
    color: #ffffff;
    background-color: grey;
    height: 40px;
    text-align: center;
    display: block;
    width: 79.8%;
    position: absolute;



}
