<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link href="js/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" type="'text/css">
    <link href="js/plugins/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css" rel="stylesheet" type="'text/css">
    <link href="js/plugins/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" type="'text/css">




</head>

<body>
<div id="container">
    <!-- Header -->
    <header>
        <div id="slider">
            <figure>
                <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
                <img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
                <img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
                <img src="http://demosthenes.info/assets/images/ankor-wat.jpg" alt="">
                <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
            </figure>
        </div>

    </header>
    <nav>

        <ul>

            <li class="active"><a href="../../index.html">Home</a><li>
            <li><a href="../../components/1/component.html">Component 1</a><li>
            <li><a href="../../components/2/component.html">Component 2</a><li>
            <li><a href="../../components/3/component.html">Component 3</a><li>
            <li><a href="../../components/4/component.html">Component 4</a><li>
            <li><a href="../../components/5/component.html">Component 5</a><li>

        </ul>
    </nav>

<h1>RESPONSIVE SLIDER</h1>




    <!-- Blog, Components -->
    <footer>
        &copy;2015 By: Ken Lockett

    </footer>
    </div>
<script src="js/jquery-ui.min.js"></script>
<script src="js/plugins/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script>
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: 'fade',
            controlsContainer: '.flexslider'
        });
    });
</script>
<script src="js/main.js"></script>
<script src="responsiveslides.min.js"></script>

 </body>
</html>
	<!-- Component -->

	<!-- End Component -->
