<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>

<body>
<div id="container">
    <!-- Header -->
    <header>
        <img src="../../images/KLOCK.png"


    </header>







    <!-- Blog, Components -->
    <footer>
        ©2015 By: Ken Lockett

    </footer>
</div>
</body>
</html>
	<!-- Component -->

	<!-- End Component -->
