/* Component Stylesheet 
============================================================
============================================================*/

/* HEADER ============================== */

header, nav, section, footer, figure, figcaption {
    display: block;

}

/*nav  li  {
    line-height: 49px;
    color: #000000;
    padding: 0 10px 0 5px;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.08em;
    display:inline-block;



}*/

/*nav ul {
    padding-left: 5%;
    border: 1px solid;
    padding-top: 2%;
    margin-top: -1%;
}*/

header {
    width: 100%;
    height: auto;


    margin: auto;
    display: block;


}
#container  {

    width: 80%;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: white;
    box-shadow: #ffffff;

}



header img {
    max-width: 100%;
    border: 1px solid #000000;



}
body{
    max-width: 100%;
    /*background-image: url("../images/bgwall.jpg");*/

    background-image: url('http://dl.glitter-graphics.net/pub/248/248901wm95evm9ym.gif');
    background-attachment: fixed;
    background-repeat: repeat;



}
nav { background-color: rgba(0,0,0,.6);
      position: relative;
      font-style: normal;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      padding:0 300px ;
      text-align: center;

}

/* Add menu rules here */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul::after{
    content:'';
    display:block;
    clear: both;
}
nav ul li:hover {
    background-color: rgba(255,238,0,1);
}
nav ul li:hover > ul {
    display:block;
}
nav ul li a {

    display:inline-block;
    color: #fff;
    padding:10px 20px;
    text-decoration: none;
    width: 125px;
}
nav ul li a:hover {
    background-color: #fffb00;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255,238,0,1);
}
nav ul ul li {
    position: relative;
}
nav ul ul ul{
    left: 95%;
    top: 0;
}
nav > ul {
    padding-left: 35px;
}
nav > ul > li {
    float:left;

}
nav > ul > li > a {
    padding: 10px 20px 15px 20px;
    width: auto;

}
@media screen and (max-width: 750px) {

    header a.logo { width: 120px; height: 44px; }
    article { width: 100%; float: none; margin-bottom: 40px; }
    article div { margin: 0px 40px; padding: 0px 0px 30px 0px; border-right: none; border-bottom: 1px solid #555; }
    aside { width: 100%; float: none; }

