<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Firstname Lastname</title>

    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />


</head>

<body>
<div id="container">
    <!-- Header -->
    <header>
        <img src="../../images/KLOCK.png">
        <nav>
            <ul>
                <li><a href="#">About Us</a>
                    <ul>
                        <li><a href="#">Sub Link 1</a></li>
                        <li><a href="#">Sub Link 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Design Corner</a>
                    <ul>
                        <li><a href="#">Sub Link 1</a></li>
                        <li><a href="#">Sub Link 2</a></li>
                        <li><a href="#">Sub Link 3</a>
                            <ul>
                                <li><a href="#">Sub Link 4</a></li>
                                <li><a href="#">Sub Link 5</a></li>
                            </ul>

                        </li>
                    </ul>



                </li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>

    </header>








    <!-- Blog, Components -->
    <footer>
        &copy;2015 By: Ken Lockett

    </footer>
</div>
</body>
</html>
<!-- Component -->

<!-- End Component -->
